{% extends "layout.html" %}
{% block content %}
<form class="card shadow-lg m-3 p-3" method="POST" action="">
    {% for assessment in assessments %}
    <a>&nbsp</a>
    <div class="content">
        <form>
            {% if current_user.id == assessment.lecturer_id %}
            <a>{% assessment.title %}</a>
            <a>&nbsp</a>
            <a>{% assessment.type %}</a>
            <a>&nbsp </a>
            <input type="submit" value="Update">
            {% else %}
            {% endif %}
        </form>
    </div>
    {% endfor %}
</form>
{% endblock content %}