{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="col-sm-4">
        <a href="{{ url_for('lecturer_stat_assessment_main') }}" class="btn btn-primary btn-lg btn-block">Select Assessment</a>
    </div>
	<h1>Assessment Statistics</h1>
    <label for="annual_intake">Choose a cohort:</label>
    <select id="annual_intake" onchange="updateTables()">
        <option value="all" selected>All</option>
        {% for cohort in cohorts %}
        <option value="{{cohort}}">{{ cohort }}</option>
        {% endfor %}
    </select>
    <script>
        function updateTables(){
            let total = 0
            let totalQuestions = 0
            let students = 0
            const val = document.getElementById("annual_intake").value
            const scores = document.getElementsByClassName("score")
            if(val !== "all"){
                const rows = document.getElementsByClassName("tablerow")
                const cohorts = document.getElementsByClassName("cohorts")

                for(let i=0; i<cohorts.length; i++){

                    if(cohorts[i].innerHTML !== val){
                        rows[i].style.display = "none"
                    } else {
                        rows[i].style.display = "table-row"
                        students ++;
                        total += Number(scores[i].innerHTML.split("/")[0])
                        totalQuestions += Number(scores[i].innerHTML.split("/")[1])
                        //console.log(typeof(scores[i].innerHTML))
                        //console.log(Number(scores[i].innerHTML.split("/")[0]))
                    }

                }
            } else {
                const rows = document.getElementsByClassName("tablerow")
                for(let i=0; i<rows.length; i++){
                    rows[i].style.display = "table-row"
                }
                students = rows.length
                for(let i=0; i<scores.length; i++){
                    total += Number(scores[i].innerHTML.split("/")[0])
                    totalQuestions += Number(scores[i].innerHTML.split("/")[1])
                }
            }

            const avg = document.getElementById("average")
            const tot = document.getElementById("total")
            //console.log(total/students)
            //console.log(total)
            //console.log(students)
            console.log(totalQuestions)
            console.log(typeof(totalQuestions))
            if(totalQuestions == 0 ){
                avg.innerHTML = "No data found"
            } else {
                avg.innerHTML = String((total/totalQuestions *100).toFixed(0)) + "%"
            }
            tot.innerHTML = String(students)



            //start of graph
            //const scores = document.getElementsByClassName("score")
            const rows = document.getElementsByClassName("tablerow")
            //console.log(Number(scores[0].innerHTML.split("/")[1]) +1)
                    let xValues = []
                    let yValues = []
                    barColors = "blue"
    
                    for(let i=0; i<Number(scores[0].innerHTML.split("/")[1] )+1; i++){
                        xValues.push(i)
                    }
    
                    for(let i=0; i<xValues.length; i++){
                        let xValue = xValues[i]
                        let yValue = 0
                        for(let j=0; j<rows.length; j++){
                            if(rows[j].style.display=="table-row" && scores[j].innerHTML.split("/")[0] == xValue){
                                yValue ++
                            }
                        }
                        yValues.push(yValue)
                    }
                    const myChart = new Chart("barChart", {
                        type:"bar",
                        data:{
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                        },
                        options: {
                            legend: {display: false},
                            scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                        }
      }
                    })
        }

    </script>
    <br>
    
    <h4>Average Mark:</h3>
    <h6 id="average">Choose a cohort to see the average score</h6>
    <h4>Total Students:</h3>
    <h6 id="total">Choose a cohort to see the total number of students</h6>    <button type="button" onclick="toggleTable()" id="myButton">
        Hide table
    </button>
    <script>
        function toggleTable(){
            const button = document.getElementById("myButton")
            const table = document.getElementById("toggleTable")
            if (table.style.display == "none"){
                button.innerHTML = "Hide table"
                table.style.display = "table"
            } else {
                button.innerHTML = "Show table"
                table.style.display = "none"
            }
        }
    </script>
    <div id="toggleTable" display="none">
    {% if stats %}

    
        <h3>Individual</h3>

        <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
        <!--button id="btnExport" onclick="exportReportToExcel(this)">Export HTML Table</button-->
    
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <br>
    <button type="button" class="btn btn-primary col-md-4" onclick="tableToExcel('excel-table', 'W3C Excel Table')"><i class="fa-sharp fa-solid fa-file-excel"></i>Export to Excel</button>
    <br>
    <script type="text/javascript">
    var tableToExcel = (function() {
    var uri = 'data:application/vnd.ms-excel;base64,'
    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
    , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
    , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
    return function(table, name) {
    if (!table.nodeType) table = document.getElementById(table)
    var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
    window.location.href = uri + base64(format(template, ctx))
    }
    })()
    </script>
		<table class="sortable table-striped table table-bordered table-hover" id="excel-table">
            <thead>
                <tr class="heading table-info">
                    <th>Score</th>
                    <th>Percentage</th>
                    <th>Attempt</th>
                    <th>Assessment</th>
                    <th>UserNo</th>
                    <th>Type</th>
                    <th>Cohort</th>
                </tr>                
            </thead>
            <tbody>
                {% for stat in stats %}
                <tr class="tablerow">
                    <td class="score">{{ stat.score }} / {{ stat.answers|length }}</td>
                    <td >{{ ((stat.score / stat.answers|length) * 100)|round }}%</td>
                    <td>{{ stat.attempt }}</td>
                    <td>{{ stat.assessment.title }}</td>
                    <td class="userno">{{ stat.student.userno }}</td>
                    <td>{{ stat.assessment.type }}</td>
                    <td class="cohorts">{{ stat.student.annual_intake }}</td>
                </tr>
                {% endfor %}                
            </tbody>
		</table>
	{% else %}
		<p>No statistics found.</p>
	{% endif %}        
    </div>
    <div>
        <h3>Please select a question to view a detailed breakdown of answers</h3>
        <br>
        {% for question in questions %}
        <div class="row">
            <div class="col-sm-4">
                <h4><a href="{{ url_for('lecturer_stat_assessment_main_question', question_id=question.id)}}" class="btn btn-primary btn-lg btn-block">{{question.question_text}}</a></h4>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
        </script>
            <canvas id="barChart"></canvas>
            <!--script>
            //start of graph
            const scores = document.getElementsByClassName("score")
            const rows = document.getElementsByClassName("tablerow")
            console.log(Number(scores[0].innerHTML.split("/")[1]) +1)
            let xValues = []
                    let yValues = []
                    barColors = "blue"
    
                    for(let i=0; i<Number(scores[0].innerHTML.split("/")[1] )+1; i++){
                        xValues.push(i)
                    }
    
                    for(let i=0; i<xValues.length; i++){
                        let xValue = xValues[i]
                        let yValue = 0
                        for(let j=0; j<rows.length; j++){
                            if(rows[j].style.display="table-row" && scores[j].innerHTML.split("/")[0] == xValue){
                                yValue ++
                            }
                        }
                        yValues.push(yValue)
                    }
                    const myChart = new Chart("barChart", {
                        type:"bar",
                        data:{
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                        },
                        options: {
                            legend: {display: false},
                            scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                        }
      }
                    })
        </script -->
    </div>
{% endblock content %}