{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<a href="{{ url_for('lecturer_stat_main') }}" class="btn btn-primary btn-lg btn-block">Statistics Homepage</a>
		</div>
	</div>
	<h1>Cohort Statistics</h1>
	<p>Please select a year group to view</p>
	{% for c in cohorts %}
	<div class="row">
		<div class="col-sm-4">
			<a href="{{ url_for('lecturer_stat_cohorts_main_cohort', cohort=c) }}" class="btn btn-primary btn-lg btn-block">{{ c }}</a>
		</div>
	</div>
	<br>
	{% endfor %}
</div>
{% endblock content %}
