{% extends "layout.html" %}
{% block content %}
<h1>Reset Password</h1>
<div class="card shadow-lg m-3 p-3">
    <form method="POST" action="">
        {{ form.csrf_token }}
        <p>
            <label class="form-label" for="password">New password</label>            
            {{ form.password(class_="form-control") }}
        </p>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p>
            <label class="form-label" for="confirmPassword">Retype your new password</label>            {{ form.confirmPassword(class_="form-control") }}</p>
        <input type="submit" value="Reset" class="btn btn-primary">
    </form>
</div>

{% endblock content %}
