{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-4">Your Statistics</h1>
      {% if stats %}
      <table class="table">
        <thead>
          <tr>
            <th>Assessment</th>
            <th>Explanation</th>
            <th>Type</th>
            <th>Attempt</th>
            <th>Score</th>
            <th>Percentage</th>
          </tr>
        </thead>
        <tbody>
          {% for stat in stats %}
          <tr>
            <td>{{ stat.assessment.title }}</td>
            <th><a href="{{ url_for('student_stat_question', assessment_id=stat.assessment_id )}}">Detail</a></th>
            <td>{{ stat.assessment.type }}</td>
            <td>{{ stat.attempt }}</td>
            <td>{{ stat.score }} / {{ stat.answers|length }}</td>
            <td>{{ ((stat.score / stat.answers|length) * 100)|round }}%</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No statictics found. Because you have not taken any assessment yet.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}